:root{
    --primary-color: #27A1CA;
    --secondary-color: #000;
    --accent1-color: #594E34;
    --accent2-color: #D7B131;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
    --margin-top: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navegation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navegation a {
    color: var(--secondary-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.navegation a:hover {
    background-color: white;
    color: var(--accent2-color);
    border-radius: 5px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer, .employee-pics {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero{
    position: relative;
    margin-top: var(--margin-top);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 100px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    background-color: var(--primary-color);
    width: 96%;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    top: 120px;
    padding: .5px;
}

.purpose {
    color: var(--secondary-color);
}

.history-section {
    padding: 0.5rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    margin-top: var(--margin-top);
}

.history-section h2 {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.history-grid img {
    width: 200px;
    height: auto;
}

.adventure-pics h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-pics {
    margin-top: var(--margin-top);
}

.adventure-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-flex img {
    width: 150px;
    height: auto;
}

.adventure-flex figcaption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 0.5rem 4rem;
    margin-top: var(--margin-top);
}

.socialmedia{
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

/* Contact css */

.adress h1, h2 {
    position: relative;
    text-align: center;
    padding: 1px;
}

.contact {
    padding: 1rem;
    margin: 1rem;
}

.employee-pics h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.employee-pics {
    margin-top: var(--margin-top);
    background-color: var(--accent2-color);
    padding: 0.5rem 3rem;
}

.employee-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.employee-flex img {
    width: 200px;
    height: auto;
}

.employee-flex figcaption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Form */

form {
    width: 420px;
    height: 433px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 8px;
    background-color: var(--primary-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 15px;
}



legend {
    color: var(--secondary-color);
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: "Lato", sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

label[for="feedback"] {
    text-align: left;
    display: block;

}

input, select, textarea {
    padding: 5px;
    font-size: .5rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #333;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    text-align: right;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.midle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.map {
    max-width: 420px;
    width: 100%;
}

.message {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
}

.message input[type="radio"],
.message input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.message label {
    display: inline;
    font-size: 0.9rem;
    color: #000;
}

.purpose-options {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
}

.subscribe {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

::placeholder {
    font-size: 12px;
}