:root{
    --primary-color: #27A1CA;
    --secondary-color: #000;
    --accent1-color: #594E34;
    --accent2-color: #D7B131;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
    --margin-top: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navegation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navegation a {
    color: var(--secondary-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.navegation a:hover {
    background-color: white;
    color: var(--accent2-color);
    border-radius: 5px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero{
    position: relative;
    margin-top: var(--margin-top);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 100px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    background-color: var(--primary-color);
    width: 96%;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    top: 120px;
    padding: .5px;
}

.purpose {
    color: var(--secondary-color);
}

.history-section {
    padding: 0.5rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    margin-top: var(--margin-top);
}

.history-section h2 {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.history-grid img {
    width: 200px;
    height: auto;
}

.adventure-pics h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-pics {
    margin-top: var(--margin-top);
}

.adventure-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-flex img {
    width: 150px;
    height: auto;
}

.adventure-flex figcaption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 0.5rem 4rem;
    margin-top: var(--margin-top);
}

.socialmedia{
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}