:root {
    --main-bg-color: #f0f0f0;
    --nav-bg-color: darkblue;
    --nav-text-color: white;
    --aside-bg-color: #56a5e1;
    --aside-text-color: black;
    --footer-bg-color: #000;
    --footer-text-color: white;
}
main {
    max-width: 840px;
}


nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--nav-bg-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    margin: 0;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color:var(--aside-bg-color);
    color: var(--aside-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer  {
    margin-top: 15px;
    border-top: 1px solid #000; /* porque es la rayita de arriba */
    text-align: center;
}